@font-face {
	font-family: 'homestead';
	src: url('/resources/font/Homestead-Regular.ttf');
}
@font-face {
	font-family: 'code';
	src: url('/resources/font/CODE-Bold.otf');
}
html {
	height: 100%;
	padding: 0;
}
body {	
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-user-select:none;
}
.blur {
	height: 100%;
	background: url(/image/bg.jpg);
	background-size: 100%;
	background-position: center;
	transition-property: background-size, background;
	transition-duration: 0.8s;
	transition-timing-function: ease, ease-in;
}
a {
	text-decoration: none
}
#root {
	color: white;
	width: 100%;
	height: 100%;
	background: url(/image/bg.jpg);
	background-size: 100%;
	background-position: center;
	transition-property: background-size, background, transform;
	transition-duration: 0.8s;
	transition-timing-function: ease, ease-in;
}
.FirstView {
	margin: 0 auto;
	padding:2% 1% 1% 5%;
	position: relative;
	top: 30%;
	width: 45%;
	text-align: center;
}

.word {
	transition: transform 0.4s ease, opacity 0.5s ease;
}

.FirstView hr {
	border: 2px solid inactivecaption;
	width: 0%;
	opacity: 0;
	transition: width 0.7s ease-out, opacity 0.5s ease-in;
}

.FirstView:hover .Ricardo{
	color: highlighttext;
}

.FirstView:hover .word{
	transform: rotateY(360deg);
}

.FirstView:hover hr {
	width: 95%;
	opacity: 1;
}

.Ricardo {
	color: #00ffff;
	font-family: homestead, verdana, sans-serif;
	font-size: 800%;
	font-weight: bolder; 
	font-style: oblique;
	cursor: pointer;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.wait_body {
	margin: 0 auto;
	background: highlighttext;
	border-radius: 50%;
	height: 130px;
	width: 130px;
	background: -webkit-radial-gradient(40px 40px, circle,#000, #222, #333, #ccc)
}

.wait_word {
	font-family: verdana, sans-serif;
	position: relative;
	top: 30%;
	color: #00ffff;
	font-size: 35px;
	text-align: center;
}

.stage {
	height: 200px;
	width: 200px;
	position: relative;
	top: 50%;
	transform: translateY(-80%);
	margin: 0 auto;
	-webkit-perspective: 1200px;
	-webkit-perspective-origin: 50% 50%;
	text-align: center;
}

.shadow {
	position: relative;
	top: -70%;
	margin: 0 auto;
  	width: 130px;
  	height: 130px;
  	background: -webkit-radial-gradient(50% 50%, circle, #666, #999, #ccc 80%);
  	-webkit-transform: rotateX(90deg) translateZ(-150px);
  	z-index: -1;
}

.star1 {
	float: left;
	background: infobackground;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: -webkit-radial-gradient(10px 10px, circle, #fff8dc, #ffffff);
	-webkit-animation: starMove1 6s linear infinite;
}

.star2 {
	position: relative;
	left: 85%;
	background: highlight;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: -webkit-radial-gradient(10px 10px, circle, #00ffff, #6495ed);
	-webkit-animation: starMove2 6s linear 1s infinite;
}

.star3 {
	background: #FF0000;
	position: absolute;
	top: 40%;
	left: -10%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: -webkit-radial-gradient(10px 10px, circle, #ff69b4, #ff1493);
	-webkit-animation: starMove3 6s linear 0.5s infinite;
}

.musicPlay {
	cursor: pointer;
	-webkit-animation: musicplay 3s linear infinite;
	transition: transform 2s linear;
}

.musicPause {
	cursor: pointer;
}

.class1 {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	transition: transform 1s linear;
	transform: translateY(30%);
	font-family: homestead;
	font-size: 50px;
	color: white
}

.class1 p {
	font-family: code;
	font-size: 35px;
	transition: color 0.5s linear;
	color: #00ffff;
}

.class2 {

}

.class3 {

}
.menuOut {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	font-size: 25px;
	font-weight: bold;
	background-color: #00ffff;
	transition: 0.8s;
	cursor: pointer;
	color: black;
}
.word-menu {
	font-family: code;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.r1 {
	opacity: 0;
	text-align: center;
	border-radius: 50%;
	background-color: #7fffd4;
	width: 50px;
	height: 50px;
	transform: translate(50%, 0%);
	transition: 0.8s;
}
.r2 {
	opacity: 0;
	border-radius: 50%;
	background-color: #f0e68c;
	width: 50px;
	height: 50px;
	transform: translate(50%, -100%);
	transition: 0.8s;
}
.r3 {
	opacity: 0;
	border-radius: 50%;
	background-color: #fa8072;
	width: 50px;
	height: 50px;
	transform: translate(50%, -200%);
	transition: 0.8s;
}

.Mroot {
	-webkit-filter: saturate(2);
}

.Wroot {
	-webkit-filter: contrast(1.5);
}

.Troot {
	-webkit-filter: hue-rotate(30deg);
}
.m_wait {
	position: relative;
	top: 45%;
	width: 360px;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 40px;
	transform: translateY(-50%);
	font-family: homestead;
	height: 50px;
}
.m_wait div {
	-webkit-transition:0.8s ease-in-out;
	color: #00FFFF;
	float: left;
	margin: 0;
	padding: 0;
	width: 40px;
	text-align: center;
}
@-webkit-keyframes starMove1 {
	0% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	10% {
		transform: translate(25px, 50px);
		opacity: 1;
	}
	20% {
		transform: translate(40px, 80px);
		opacity: 1;
	}
	30% {
		transform: translate(80px, 110px);
		opacity: 1;
	}
	40% {
		transform: translate(120px, 140px);
		opacity: 1;
	}
	50% {
		transform: translate(160px, 160px);
		opacity: 1;
	}
	56% {
		opacity: 0;
	}
	60% {
		transform: translate(140px, 100px);
		opacity: 0;
	}
	70% {
		transform: translate(100px, 70px);
		opacity: 0;
	}
	80% {
		transform: translate(60px, 40px);
		opacity: 0;
	}
	90% {
		transform: translate(30px, 20px);
		opacity: 0;
	}
	93% {
		opacity: 0.2
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@-webkit-keyframes starMove2 {
	0% {
		opacity: 1;
	}
	10% {
		transform: translate(-25px, 50px);
		opacity: 1;
	}
	20% {
		transform: translate(-40px, 90px);
		opacity: 1;
	}
	30% {
		transform: translate(-80px, 120px);
		opacity: 1;
	}
	40% {
		transform: translate(-120px, 140px);
		opacity: 1
	}
	50% {
		transform: translate(-160px, 160px);
		opacity: 1
	}
	56% {
		opacity: 0
	}
	60% {
		transform: translate(-140px, 95px);
		opacity: 0;
	}
	70% {
		transform: translate(-100px, 70px);
		opacity: 0;
	}
	80% {
		transform: translate(-60px, 40px);
		opacity: 0;
	}
	90% {
		transform: translate(-30px, 20px);
		opacity: 0;
	}
	93% {
		opacity: 0.3
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes starMove3 {
	0% {
		left: -10%;
		opacity: 1;
	}
	10% {
		left: 20%;		
		opacity: 1;
	}
	20% {
		left: 40%;		
		opacity: 1;
	}
	30% {
		left: 60%;		
		opacity: 1;
	}
	40% {
		left: 80%;		
		opacity: 1
	}
	50% {
		left: 95%;		
		opacity: 1
	}
	56% {
		opacity: 0
	}
	60% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	93% {
		opacity: 0.3
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes musicplay {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
/*For music*/
.musicFrame {
	width: 65%;
	margin: 40px auto 0px auto;
	height: 80%
}
.player {
	width: 42%;
	background: url(/image/music/m-3.png);
	background-size: 100%;
	height: 100%;
	float: left;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,.2);
	border-radius: 3px;
}
.test {
	width: 2%;
	height: 100%;
	float: left;
}
.songer {
	width: 56%;
	background: white;
	height: 100%;
	float: left;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,.2);
	border-radius: 3px;
}
.playerTop {
	box-sizing: border-box;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 85%;
	height: 25px;
	background: rgba(255,255,255, 0.7);
}
.playerTop img {
	float: left;
	margin-right: 3px;
	cursor: pointer;
}
.playerBottom {
	box-sizing: border-box;
	background: rgba(255,255,255, 0.6);
	height: 90px;
	padding: 15px 3px 15px 3px;
	position: relative;
	top: 100%;
}
.playBody {
	height: 73%;
	background: rgba(255,255,255, 0.2);
	box-sizing: border-box;
	margin-top: 15px;
}
.playerBottom .col{
	box-sizing: border-box;
	float: left;
	width: 20%;
	height: 100%;
}
.songerTop {
	height: 7%;
	box-sizing: border-box;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-top: 5px;
}
.songerTop img {
	position: relative;
	left: 92%;
	height: 30px;
	cursor: pointer;
}
.songerBody {
	box-sizing: border-box;
	padding-top: 5px;
	width: 98%;
	overflow: hidden;
	height: 93%;
}
.song_j {
	box-sizing: border-box;
	padding-top: 8px;
	font-size: 15px;
	font-weight: bold;
	height: 31px;
	font-family: sans-serif;
	background: #f7f7f7;
}
.song_o {
	box-sizing: border-box;
	padding-top: 8px;
	font-size: 15px;
	font-weight: bold;
	height: 31px;
	font-family: sans-serif;
	background: #ececec;
}
.songActive {
	color: white;
	background: #51ffe8;
}
.songName {
	float: left;
	width: 84%;
	box-sizing: border-box;
	padding-left: 10px;
	cursor: pointer;
	/*color: black*/
}
.songUD {
	float: left;
	width: 8%; 
	padding-left: 5px;
	box-sizing: border-box
}
.col img {
	position: relative;
	left: 50%;
	top: 50%;
	height: 35px;
	cursor: pointer;
	-webkit-transform: translateY(-50%) translateX(-50%)
}
.progress {
	height: 5px; 
	background: #e3f4fd; 
	transform: translateY(-17px);
	
}
.progressBar {
	height: 8px; 
	background: white; 
	width: 15px; 
	transform: 
	translateY(-2px); 
	box-shadow: 0px 0px 5px 5px rgba(218,237,252,.8); 
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}
.volChoice {
	position: relative;
	left: 65%; 
	float: left; 
	width: 8px;
	height: 60px;
	background: #e3f4fd;	
	
}
.blur {
	display: none;
}
.volPick {
	width: 12px;
	height: 12px; 
	background: grey; 
	border-radius: 50%; 
	transform: translateX(-2px) translateY(-50%);
	position: relative;
	top: 50%;
}
.row {
  width: 100%;
}
.col {
  float: left;
  width: 33.33%;
}
.container {
  width: 10vw;
  height: 10vw;
  perspective: 500px;
  position: relative;
  margin: 0 auto;
}
.cube {
  width: 100%;
  height: 100%;
  animation: cubeShow 8s linear infinite;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(20deg);
  cursor: pointer;
}
.cube .M {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  position: absolute;
}
.cube img {
  width: 100%;
  height: 100%;
}
.front {
  transform: translateZ(5vw);
  background: rgba(0,0,0,0.5);
}
.back {
  transform: translateZ(-5vw) rotateY(180deg);
  background: rgba(120,80,0,0.5);
}
.right {
  transform: rotateY(90deg) translateZ(5vw);
  background: rgba(0,180,250,0.5);
}
.left {
  transform: rotateY(-90deg) translateZ(5vw);
  background: rgba(155,20,100,0.5);
}
.top {
  transform: rotateX(-90deg) translateZ(5vw);
  background: rgba(20,150,220,0.5);
}
.bottom {
  transform: rotateX(90deg) translateZ(5vw);
  background: rgba(0,255,255,0.5);
}
.title {
  text-align: center;
  margin-bottom: 80px;
}
.changeFrame {
  position: fixed;
  bottom: 5%;
  height: 250px;
  width: 100%;
  border-top: 3px solid #cccccc;
}
.subCol {
  float: left;
  width: 16.66%;
  height: 100%
}
.subCol > div {
  height: 100%;
  padding-top: 15px;
}
.subCol img {
  width: 85%;
  height: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid gray
}
.changeDir {
  height: 10%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}
#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	opacity: 0;
	transition: opacity 0.5s linear;
	display: none
}
#modal .main {
	width: 30%;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background: white;
	box-shadow: 0px 0px 50px 15px rgba(0,237,252,.5); 
	padding: 20px;
	border-radius: 20px;
}
.main input {
	font-size: 25px;
	width: 100%;
}
.containerB {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 750px;
  transform-style: preserve-3d;
}

.gg {
	transform: scale3d(0.3, 0.3, 0.3);
}

.containerB .inner {
  transform-style: preserve-3d;
  /*-webkit-transform-origin: 50vw 50vw 0;*/
  transform-origin: 50vw 50vw;
  transform: rotateX(-30deg) rotateY(40deg)
}

.containerB .sub {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.containerB .sub.front {
  transform: translateZ(-50vw) scale(1.01);
  background: rgba(0,0,0,0.5);
}

.containerB .sub.left {
  transform: translate3d(-50vw, 0, 0) rotateY(90deg) scale(1.01);
  background: rgba(155,20,100,0.5);
}

.containerB .sub.right {
  transform: translate3d(50vw, 0, 0) rotateY(-90deg) scale(1.01);
  background: rgba(0,180,250,0.5);
}

.containerB .sub.back {
  transform: translateZ(50vw) rotateY(180deg) scale(1.01);
  background: rgba(120,80,0,0.5);
}

.containerB .sub.top {
  transform: translate3d(0, -50vw, 0) rotateX(-90deg);
  background: rgba(20,150,220,0.5);
}

.containerB .sub.bottom {
  transform: translate3d(0, 50vw, 0) rotateX(90deg);
  background: rgba(0,255,255,0.5);
}
@-webkit-keyframes cubeShow {
  from {
    transform: rotateY(20deg) rotateX(-8deg);
  }
  to {
    transform: rotateY(379deg) rotateX(-8deg);
  }
}