<div class="containerB" id="c">
  <div class="inner" id="test">
    <div class="sub front">
      <img src="" style="width: 100%; height: 100%">
    </div>
    <div class="sub left">
      <img src="" style="width: 100%; height: 100%">
    </div>
    <div class="sub right">
      <img src="" style="width: 100%; height: 100%">
    </div>
    <div class="sub back">
      <img src="" style="width: 100%; height: 100%">
    </div>
    <div class="sub top">
      <img src="" style="width: 100%; height: 100%">
    </div>
    <div class="sub bottom">
      <img src="" style="width: 100%; height: 100%">
    </div>
  </div>
</div>