  <div class="title">
    <h1 class="title">打造自己的动态立体画廊</h1>
  </div>
  <div class="row" id="photoAlbum">
    <div class="col">
      <div class="container">
        <div class="cube">
          <div class="M front">
            <img src="image/bg.jpg">
          </div>
          <div class="M back">
            <img src="image/ricardo.jpg">
          </div>
          <div class="M left">
            <img src="image/transform_3D.jpg">
          </div>
          <div class="M right">
            <img src="image/r1.jpg">
          </div>
          <div class="M top">
            <img src="image/r2.jpg">
          </div>
          <div class="M bottom">
            <img src="">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="cube">
          <div class="M front">
            <img src="">
          </div>
          <div class="M back">
            <img src="">
          </div>
          <div class="M left">
            <img src="">
          </div>
          <div class="M right">
            <img src="">
          </div>
          <div class="M top">
            <img src="">
          </div>
          <div class="M bottom">
            <img src="">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="cube">
          <div class="M front">
            <img src="">
          </div>
          <div class="M back">
            <img src="">
          </div>
          <div class="M left">
            <img src="">
          </div>
          <div class="M right">
            <img src="">
          </div>
          <div class="M top">
            <img src="">
          </div>
          <div class="M bottom">
            <img src="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="changeFrame">
    <div class="subCol">
      <div>
        <div class="changeDir">
          Front：
        </div>
        <img src="" id="newFront">
      </div>
    </div>
    <div class="subCol">
      <div>
        <div class="changeDir">
          Back：
        </div>
        <img src="" id="newBack">
      </div>
    </div>
    <div class="subCol">
      <div>
        <div class="changeDir">
          Left：
        </div>
        <img src="" id="newLeft">
      </div>
    </div>
    <div class="subCol">
      <div>
        <div class="changeDir">
          Right：
        </div>
        <img src="" id="newRight">
      </div>     
    </div>
    <div class="subCol">
      <div>
        <div class="changeDir">
          Top：
        </div>
        <img src="" id="newTop">
      </div>   
    </div>
    <div class="subCol">
      <div>
        <div class="changeDir">
          Bottom：
        </div>
        <img src="" id="newBottom">
      </div>     
    </div>
  </div>
  <div id="modal">
    <div class="main">
      <h3>请输入图片的url(地址)：</h3>
      <input type="url" value="http......" id="picUrl" />
    </div>
  </div>